body{
    background-color: rgb(174, 0, 193);
}

h1{
    font-family: Impact, Haettenchweiler, 'Arisl Narrow Bold', sans-serif;
    font-size: 150px;
    color: white;
    font-style: normal;
}
.cake-text{
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight:bold;
}
.section-one{ 
   
    background-color: 
    darkslateblue;
}
.caption{
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.section-two{
   
    background-color: 
    darkslateblue;
}







.section-three{
   
    background-color: 
    darkslateblue;
}



.section-four{
   
    background-color: 
    darkslateblue;
}




.container{
    display: flex;
    justify-content: space-evenly;
    text-align: wrap;

   
}


.cake-item{
    width: 530px;
    height: 530px;
    padding: 50px;
}






